<mat-toolbar>
    <span>My App</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon" >
      <mat-icon>logout</mat-icon>
    </button>
</mat-toolbar>
<mat-drawer-container class="example-container">
    <mat-drawer mode="side" opened>
        <mat-list role="list">
            <mat-list-item role="listitem" routerLink="pagina1" [routerLinkActive]="'active'">Pagina 1</mat-list-item>
            <mat-list-item role="listitem" routerLink="pagina2" [routerLinkActive]="'active'">Pagina 2</mat-list-item>
            <mat-list-item role="listitem" routerLink="pagina3" [routerLinkActive]="'active'">Pagina 3</mat-list-item>
        </mat-list>
    </mat-drawer>
    <mat-drawer-content>
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>